//@import here
@import 'bower_components/bskyb-colours/src/scss/colours';
@import 'bower_components/bskyb-typography/src/scss/typography';

/* Common demo Sass here */
.demo-block{
  margin-bottom: 20px;
  display: block;
  clear: both;
}
.demo-version{
  font-size: 0.5em;
}
.demo-icon{
  display: inline-block;
  width: 20px;
  height: 20px
}
.demo-icon--github{
  background: url(../images/GitHub-Mark-32px.png) no-repeat 0px 0px;
  background-size: 100%;
}

.speak {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}

code{
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}


//your demo specific scss here
