//@import here

/* Common demo Sass here */
.demo-updated {
  display: block;
  font-size: 0.3em;
}

.demo-block{
  margin-bottom: 20px;
  display: block;
  clear: both;
}


//your demo specific scss here