//@import here
@import 'bskyb-colours/dist/scss/colours';
@import 'bskyb-typography/dist/scss/typography';

/* Common demo Sass here */
.demo-updated {
  display: block;
  font-size: 0.3em;
}

.demo-block{
  margin-bottom: 20px;
  display: block;
  clear: both;
}
.demo-icon{
  display: inline-block;
  width: 32px; height: 32px;
  margin-left: 4px;
}
.demo-icon--github{
  background: url(/images/GitHub-Mark-32px.png) no-repeat 5px 5px;
  background-size: 75%;
}

.speak {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}


//your demo specific scss here